body{
    padding:0;
    margin:0;
    font-family: "Lato", sans-serif;
  }
  a{
    color: white;
  }
  
  h1,h2{
    font-weight: normal;
  }
  
  .wrapper{
    overflow:hidden;
    width:100%;
    height:100%;
    min-height:500px;
    position: relative;;
    display:block;
  }
  .wrapper:after {
    content:"";
    background: rgba(0,0,0,.4);
    width:100%;
    height:100%;
    position:absolute;
    display:table;
    left:0;
    top:0;
  }
  
  .wrapper__message{
    position:absolute;
    z-index:999;
    color: #fff;
    text-align:center;
    width:100%;
    height:100%;
  }
  
  .wrapper__message h1{
    margin:10% 0 2%;
    font-size:8vmin;
  }
  
  .wrapper__message h2{
    font-size:3vmin;
    margin: 0 23%;
    line-height: 120%;
  }
  
  .wrapper__message-.-btn-square{
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    font-size:3vmin;
    text-decoration: none;
    display: table;
    margin: 20px auto;
   -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .wrapper__message-.-btn-square:hover{
    background: rgba(255,255,255,.5);
    border: 1px solid #3E3C3C;
    color: #3E3C3C;
     -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .wrapper #ytplayer{
    position: relative;;
    top:-100%;
    left:-5%;
  }

  /* Basic Style */
  body {
	margin: 0;
    padding: 0;
    background-color:black;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	text-align: center;
	background: #AA7E41;
	color: #FBDBAF;
	padding: 20px 0;
	margin-top: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 600px;
	height: 400px;
	margin: 15px;
	transition: transform 1s;
	border: 5px solid #3E3C3C;
}

img:hover {
	transform: scale(1.1);
}

footer {
	color: #5D3907;
	text-align: right;
	margin-top: 50px;
	font-size: 20px;
	margin-right: 5%;
}

.big {
	width: 1238px;
	height: 705px;
	margin: 15px;
	transition: transform 1s;
	border: 5px solid #3E3C3C;
}

#mc_embed_signup { border: none; text-align: center; width: 100%; } /* Signup form container */

.mc-field-group { display: inline-block; } /* positions input field horizontally */

#mce-EMAIL { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em; border: 2px solid #ABB0B2 ; color: #343434; background-color: #fff; padding: .7em 9em .7em 1em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Input Styles */

.clear { display: inline-block; } /* positions button horizontally in line with input */

.button { font-family: 'Helvetica Neue', Helvetica,  Arial, sans-serif; font-size: 1em; letter-spacing: .03em; color: #fff; background-color: #2386C8 ; padding: .7em 2em; border: 2px solid #2386C8 ; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Button Styles */

:-webkit-input-placeholder { color: #ABB0B2 ; } /* WebKit browsers */ 
:-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #ABB0B2 ; } /* Internet Explorer 10+ */

@media (max-width: 768px) { /* positions input field and button underneath each other with 100% width for tablet and mobile */
  
.mc-field-group { display: block; max-width: 100%; }
#mce-EMAIL { padding: .7em 0 .7em 1em; width: 96%; margin: 0; }
.clear { display: block; width: 100% }
.button { width: 100%; margin: .5em 0 0 0; }
  
}